<!--
    Author: tontonCasi [Twitch : https://www.twitch.tv/tontoncasi]
    Licence : MIT
    Source : https://github.com/Casimodo/police_rp
    Terms of use:
      This file comes from a source code covered by the MIT license please respect this. 
      All component files this code is filed, signed and certified with the competent international authority 
      in order to enforce copyright and ensure proof of an MIT license, thank you to respect that.
-->

<%- include('../partials/header'); -%>


    <div class="row">

        <form class="row g-3 needs-validation" action="/login/password" method="post">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Identification
                    </div>
                    <div class="card-body">



                        <div class="mb-3 row">
                            <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLogin" name="username" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword" name="password" required>
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Confirm</button>
                        </div>


                    </div>
                </div>
            </div>

        </form>

    </div>


    <%- include('../partials/footer'); -%>